html{

scroll-behavior:smooth;

}

body{

margin:0;

font-family:
"Poppins",
sans-serif;

background:
linear-gradient(
135deg,
#F8F6FF 0%,
#F4F1FF 100%
);

overflow-x:hidden;

}

*{

box-sizing:border-box;

}

button,
input,
select,
textarea{

font-family:inherit;

}

::selection{

background:#A78BFA;

color:white;

}

img{

max-width:100%;

display:block;

}